pytest
pytest-dotenv
dbt-tests-adapter@git+https://github.com/dbt-labs/dbt-adapters.git#subdirectory=dbt-tests-adapter
git+https://github.com/dbt-labs/dbt-core.git@v1.8.0#egg=dbt-core&subdirectory=core
#git+https://github.com/microsoft/dbt-fabric.git@dbt-utils-br
-e . /mnt/c/users/pvenkat/repos/dbt-fabric
pytest-xdist